.portfolio__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.portfolio__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.portfolio__hover {
  background-color: var(--primary-color);
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.portfolio__item:hover .portfolio__hover {
  opacity: 1;
}

.portfolio__title {
  color: var(--text-white);
  font-size: var(--large-font-size);
  font-weight: var(--weight-500);
  transform: translateY(-20px);
  transition: all 0.5s ease;
}

.portfolio__item:hover .portfolio__title {
  transform: translateY(0);
}

.portfolio__modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: grid;
  place-items: center;
  padding: 15px;
  cursor: default;
}

.portfolio__modal-content {
  background-color: var(--container-color);
  max-width: 650px;
  width: 100%;
  padding: 32px;
  border-radius: 10px;
  position: relative;
  cursor: default;
}

.modal__close {
  position: absolute;
  top: 3.5%;
  right: 3.5%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.modal__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.modal__title {
  text-align: center;
  color: var(--primary-color);
  font-size: var(--h2-font-size);
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.modal__list {
  margin-bottom: 24px;
}

.tech__stack {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.modal__item {
  margin-bottom: 10px;
}

.modal__link {
  color: var(--primary-color);
}

.modal__link:visited {
  color: var(--primary-color);
}

.modal__link:hover {
  text-decoration: underline;
}

.preview__links {
  display: flex;
  justify-content: space-between;
}

.modal__link-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.modal__icon {
  color: var(--text-white);
}
