/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap");

/*==================== CSS VARIABLES ====================*/
:root {
  /*==================== COLORS ====================*/
  --primary-color: #ffae00;
  --title-color: #ffffff;
  --text-color: #cccccc;
  --body-color: #121212;
  --container-color: #2c2b2b;
  --border-color: #262626;
  --text-white: #ffffff;

  /*==================== FONTS & TYPOGRAPHY ====================*/
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  --big-font-size: 56px;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;

  /*==================== FONT WEIGHTS ====================*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
}

/*==================== BASE CSS ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--primary-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--secondary-font);
  font-weight: var(--weight-700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

/*==================== REUSABLE CSS ====================*/
.container {
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 15px;
}

.grid {
  display: grid;
  gap: 30px;
}

.section {
  padding-block: 70px;
}

.section__title {
  font-size: var(--big-font-size);
  font-weight: var(--weight-800);
  text-align: center;
  margin-bottom: 70px;
}

.section__title span {
  color: var(--primary-color);
}

.button {
  display: inline-block;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 15px 70px 15px 35px;
  border-radius: 35px;
  font-family: var(--secondary-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.button:hover {
  color: var(--text-white);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.3s ease-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__icon {
  background-color: var(--primary-color);
  position: absolute;
  inset-block: -2px;
  right: 0;
  width: 55px;
  border-radius: 50%;
  color: var(--text-white);
  font-size: var(--large-font-size);
  text-align: center;
  line-height: 60px;
}

.back__button {
  margin-inline: 40px;
  padding: 15px 35px 15px 70px;
}

.back__button::before {
  transform: translateX(-100%);
}

.back__button__icon {
  left: 0;
  right: unset;
}

/*==================== BLOG CONTENT ====================*/
.blog__details-content {
  font-size: var(--normal-font-size);
}

.blog__details-content h1,
.blog__details-content h2,
.blog__details-content h3,
.blog__details-content h4 {
  color: var(--primary-color);
  text-align: center;
}

.blog__details-content h1 {
  font-size: var(--h1-font-size);
  margin-block: 18px;
}

.blog__details-content h2 {
  font-size: var(--h2-font-size);
  margin-block: 16px;
}

.blog__details-content h3 {
  font-size: var(--h3-font-size);
  margin-block: 14px;
}

.blog__details-content h4 {
  font-size: var(--large-font-size);
  margin-block: 12px;
}

.blog__details-content b {
  font-weight: var(--weight-600);
}

.blog__details-content p {
  margin-block: 15px;
}

.blog__details-content .img__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog__details-content a {
  color: var(--primary-color);
}

.blog__details-content a:visited {
  color: var(--primary-color);
}

.blog__details-content a:hover {
  text-decoration: underline;
}

.blog__details-content hr {
  border: 1px solid var(--primary-color);
}

.blog__details-content ul {
  list-style: disc;
}

.blog__details-content ul,
.blog__details-content ol {
  margin-left: 20px;
}

.blog__details-content li::marker {
  color: var(--primary-color);
}

.blog__details-content ul {
  list-style: disc;
}

.blog__details-content blockquote {
  font-size: var(--large-font-size);
  font-family: var(--secondary-font);
  font-weight: var(--weight-600);
  margin-block: 15px;
  padding: 2px 20px;
  position: relative;
  background-color: var(--container-color);
}

.blog__details-content blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background-color: var(--primary-color);
}

.blog__details-content table {
  margin-inline: auto;
}

.blog__details-content th {
  padding: 5px 10px;
  background: var(--container-color);
  color: var(--primary-color);
}

.blog__details-content td {
  padding: 0px 10px;
  border: 1px solid var(--border-color);
  text-align: center;
  border-collapse: collapse;
}
