/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap");

/*==================== CSS VARIABLES ====================*/
:root {
  /*==================== COLORS ====================*/
  --primary-color: #ffae00;
  --title-color: #ffffff;
  --text-color: #cccccc;
  --body-color: #121212;
  --container-color: #2c2b2b;
  --border-color: #262626;
  --text-white: #ffffff;

  /*==================== FONTS & TYPOGRAPHY ====================*/
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  --big-font-size: 56px;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;

  /*==================== FONT WEIGHTS ====================*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
}

/*==================== BASE CSS ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--primary-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--secondary-font);
  font-weight: var(--weight-700);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

/*==================== REUSABLE CSS ====================*/
.container {
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 15px;
}

.grid {
  display: grid;
  gap: 30px;
}

.section {
  padding-block: 70px;
}

.section__title {
  font-size: var(--big-font-size);
  font-weight: var(--weight-800);
  text-align: center;
  margin-bottom: 70px;
}

.section__title span {
  color: var(--primary-color);
}

.button {
  display: inline-block;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 15px 70px 15px 35px;
  border-radius: 35px;
  font-family: var(--secondary-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-500);
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.button:hover {
  color: var(--text-white);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--primary-color);
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.3s ease-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__icon {
  background-color: var(--primary-color);
  position: absolute;
  inset-block: -2px;
  right: 0;
  width: 55px;
  border-radius: 50%;
  color: var(--text-white);
  font-size: var(--large-font-size);
  text-align: center;
  line-height: 60px;
}
