/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap");

/*==================== CSS VARIABLES ====================*/
:root {
  /*==================== COLORS ====================*/
  --primary-color: #ffae00;
  --title-color: #ffffff;
  --text-color: #cccccc;
  --body-color: #121212;
  --container-color: #2c2b2b;
  --border-color: #262626;
  --text-white: #ffffff;

  /*==================== FONTS & TYPOGRAPHY ====================*/
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  --big-font-size: 56px;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;

  /*==================== FONT WEIGHTS ====================*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
}

/*==================== BASE CSS ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--primary-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--secondary-font);
  font-weight: var(--weight-700);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}
